resolver 127.0.0.11 valid=10s;

server {
    listen 80;
    server_name ${DOMAIN};

    location / {
        set $internal_url ${CLIENT_INTERNAL_URL};
        proxy_pass $internal_url;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    server_name api.${DOMAIN};

    location / {
        set $internal_url ${API_INTERNAL_URL};
        proxy_pass $internal_url;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    server_name auth.${DOMAIN};

    location / {
        set $internal_url ${AUTH_SERVER_INTERNAL_URL};
        proxy_pass $internal_url;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}